/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2016, 2:46:13 PM
    Author     : Dynee
*/

#padRight {
    padding-right: 10px;
}

.signupForm {
    
    width: 270px;
    margin: auto;
    padding-top: 2%;
    
}

#margBottom {
    
    margin-bottom: 10px;
    width: 150%;
}

#inputPadRight {
    padding-right: 100px;
}

#center {
    text-align: center;
}

.redirectPage {
    
    width: 60px;
    margin: auto;
    padding-top: 2%;
    
}